<div class="content-box plan-con padding-top padding-bottom">
    <div class="container">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <aside class="services-box text-center">
                <div class="services-fig"></div>
                <h3 class="brown-text robotoslub-font regular-font">Have a project in mind ?</h3>
                <p>Do not hesitate to contact us <br> or even to visit us at our <br> factory ! </p>
                <div class="yellow-btn semibold-font inline-display"><router-link class="white-text" to="/Contact">CONTACT US</router-link></div>
            </aside>
            <!--col-->
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <aside class="services-box text-center">
                <div class="services-fig"></div>
                <h3 class="brown-text robotoslub-font regular-font">Want to check our work ?</h3>
                <p>You will find some of our best work.<br>
                    You will surely like some models.<br>
                    but hey, be creative.</p>
                <div class="yellow-btn semibold-font inline-display"><router-link class="white-text" to="/Gallery">GALLERY</router-link></div>
            </aside>
            <!--col-->
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <aside class="services-box text-center">
                <div class="services-fig"></div>
                <h3 class="brown-text robotoslub-font regular-font">Build your own design</h3>
                <p>The interface will help you build<br>
                    a 3D design. You will get the chance<br>
                    to show us exactly what you want.</p>
                <div class="yellow-btn semibold-font inline-display"><a class="white-text" href="javascript:;">COMING SOON</a></div>
            </aside>
            <!--col-->
        </div>
        <!--container-->
    </div>
    <!--content-box-->
</div>