<div class="content-box padding-bottom">
    <div class="container">
        <div class="about-img text-center"><img src="../../../../public/static/assets/images/about-img1.jpg" alt=""></div>
        <div class="about-box col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <h2 class="brown-text robotoslub-font">Welcome to Wood<span class="gold-text">Art</span></h2>
            <h3 class="gold-text light-font">Best Residential & Commercial Wood Services</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, expli</p>
            <p>cabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia con
                sequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet consectetur.</p>
            <!--about-box-->
        </div>
        <div class="small-box col-lg-5 col-md-12 col-sm-12 col-xs-12">
            <ul>
                <li>
                    <figure class="pull-left col-lg-3 col-md-3 col-sm-12 col-xs-12"><img src="../../../../public/static/assets/images/about-icon1.png" alt=""></figure>
                    <div class="smallbox-inner pull-left col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <h3 class="brown-text robotoslub-font">35 Years Experience</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod.</p>
                    </div>
                </li>
                <li>
                    <figure class="pull-left col-lg-3 col-md-3 col-sm-12 col-xs-12"><img src="../../../../public/static/assets/images/about-icon2.png" alt=""></figure>
                    <div class="smallbox-inner pull-left col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <h3 class="brown-text robotoslub-font">Fastest & Efficent</h3>
                        <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem.</p>
                    </div>
                </li>
            </ul>
            <!--small-box-->
        </div>
        <!--container-->
    </div>
    <!--content-box-->
</div>