<div class="content-box padding-top padding-bottom">
    <div class="container">
        <div class="design text-center col-xs-12">
            <h2 class="brown-text robotoslub-font">We design and
                manufacture high quality and<br>
                innovative wood products.</h2>
            <h3 class="gold-text light-font">Wood artists since 1985</h3>
            <p class="custom-heading light-font"> I started working as a carpenter in the late 80's.
                I have gained a lot of experience by working on multiple projects. <br>
                My expertise in the carpentry field will guarantee an elegant end product.  <br>

            </p>
            <div class="transparent-btn inline-display text-uppercase"><router-link to="/About">About us</router-link></div>
            <!--design-->
        </div>
        <!--container-->
    </div>
    <!--content-box-->
</div>