<div>
<div class="content-box faq-con padding-top padding-bottom">
    <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h2 class="white-text robotoslub-font">Frequently Asked
                Question</h2>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                Duis aute irure dolor in reprehenderit?</a>
                        </h4>
                        <!--panel-heading-->
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p></div>
                        <!--panel-collapse-->
                    </div>
                    <!--panel-->
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="collapsed">
                                Add a Secondary IPv4 Address to Your VPS</a>
                        </h4>
                        <!--panel-heading-->
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p></div>
                        <!--panel-collapse-->
                    </div>
                    <!--panel-->
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="collapsed">
                                Running CoreOS on a Vultr VPS</a>
                        </h4>
                        <!--panel-heading-->
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p></div>
                        <!--panel-collapse-->
                    </div>
                    <!--panel-->
                </div>
                <!--panel-group-->
            </div>
            <!--col-->
        </div>
<div class="no-padding text-center col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div v-for="acc in accomplishement" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <aside class="skill-level col-xs-12">
            <div>
                <span class="numeric stat-count robotoslub-font gold-text">{{acc.numbers}}</span>
                <span class="text-uppercase">{{acc.type}}</span>
            </div>
            <!--skill-level-->
        </aside>
        <!--col-lg-3-->
    </div>

    <!--col-->
</div>

        <!--container-->
    </div>
    <!--content-box-->
</div>
</div>