<div>
<!-- =========== -->
<!-- Banner Area -->
<!-- =========== -->
<div id="bannerSlider" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="banner-con col-xs-12">
                <div class="container">
                    <div class="banner-text col-xs-12">
                        <div>
                            <!--<h3 class="gold-text text-uppercase">Welcome to Imad Khater's WoodSite</h3>-->
                            <h1 class="white-text robotoslub-font">
                                Woodify <span class="gold-text">Your</span> House </h1>
                            <p class="white-text light-font">We will help you create
                                a master piece out of wood.<br></p>
                            <div class="pull-left yellow-btn semibold-font"><a href="#">Get Your Quote</a></div>
                        </div>
                        <!--banner-text-->
                    </div>
                    <!--container-->
                </div>
                <!--banner-con-->
            </div>
        </div>
    </div>

</div>

    <IntroSelf/>
    <Suggestion/>
    <WhyChooseUs/>
    <Accomplishements/>
    <Gallery/>
    <HappyClients/>
    <Mail/>

</div>