<div class="content-box text-center padding-top mailing-address padding-bottom">
    <div class="container">
        <h2 class="brown-text robotoslub-font">Mailing Address</h2>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <aside class="mailing-info text-left">
                <figure class="pull-left text-center">
                    <i class="gold-bg white-text fa fa-map"></i>
                </figure>
                <div class="smallbox-inner pull-left col-lg-7 col-md-12 col-sm-12 col-xs-12">
                    <p>121 King Street,<br>Melbourne Victoria 3000<br>Australia..</p>
                    <!--smallbox-inner-->
                </div>
                <!--mailing-info-->
            </aside>
            <!--small-box-->
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <aside class="mailing-info text-left">
                <figure class="pull-left text-center">
                    <i class="gold-bg white-text fa fa-volume-control-phone"></i>
                </figure>
                <div class="smallbox-inner pull-left col-lg-7 col-md-12 col-sm-12 col-xs-12">
                    <p>Phone: (123) 123-456789<br>Help: (123) 123-456789</p>
                    <!--smallbox-inner-->
                </div>
                <!--mailing-info-->
            </aside>
            <!--small-box-->
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <aside class="mailing-info text-left">
                <figure class="pull-left text-center">
                    <i class="gold-bg white-text fa fa-envelope"></i>
                </figure>
                <div class="smallbox-inner pull-left col-lg-7 col-md-12 col-sm-12 col-xs-12">
                    <p><a href="mailto:Support@mediplex.com">Support@mediplex.com</a><br>
                        <a href="mailto:info@mediplex.com">info@mediplex.com</a></p>
                    <!--smallbox-inner-->
                </div>
                <!--mailing-info-->
            </aside>
            <!--small-box-->
        </div>
        <!--container-->
    </div>
    <!--content-box-->
</div>