<div>
<div class="sub-banner-con text-center about-banner col-xs-12">
    <div class="container">
        <div class="sub-banner col-xs-12">
            <div>
                <h2 class="white-text robotoslub-font">About Us</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">About Us</li>
                </ol>
            </div>
            <!--sub-banner-->
        </div>
        <!--container-->
    </div>
    <!--sub-banner-con-->
</div>

    <IntroCompany/>
    <Accomplishements/>
    <HappyClients/>
    <mail/>

</div>