<div>

<div class="sub-banner-con text-center services-banner col-xs-12">
    <div class="container">
        <div class="sub-banner col-xs-12">
            <div>
                <h2 class="white-text robotoslub-font">Services</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Services</li>
                </ol>
            </div>
            <!--sub-banner-->
        </div>
        <!--container-->
    </div>
    <!--sub-banner-con-->
</div>
<!-- ========= -->
<!-- Body Area -->
<!-- ========= -->
<CompanyServices/>
<div class="content-box wood-box padding-top text-center padding-bottom">
    <div class="container">
        <h2 class="white-text robotoslub-font">We Create Masterpieces Out of Wood!
            <span class="regular-font">We take the woodworking and carpentry as an artform in its own right!</span></h2>
        <div class="transparent-btn inline-display semibold-font text-uppercase"><a class="white-text" href="#">Contact Us</a></div>
        <!--container-->
    </div>
    <!--content-box-->
</div>
<WhyChooseUs/>
<HappyClients/>
<mail/>


</div>