<!--header-->
<div>
<div class="page-loader-wrapper page-loader-wrapper-1">
    <div class="loader">
        <div class="sk-double-bounce">
            <div class="sk-child sk-double-bounce1"></div>
            <div class="sk-child sk-double-bounce2"></div>
        </div>
        <!--loader-->
    </div>
    <!--page-loader-wrapper-->
</div>
<header id="masterhead" class="site-header">
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="site-branding">
                            <a class="navbar-brand-class" href="/"><img src="/static/assets/images/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
                        <ul id="menu-main-menu" class="nav navbar-nav pull-left">
                            <li class="active"><router-link to="/">Home</router-link></li>
                            <li><router-link to="/About">About us</router-link></li>
                            <li><router-link to="/Services">Services</router-link></li>
                            <li><router-link to="/Gallery">Gallery</router-link></li>
                            <li><router-link to="/Contact">Contact us</router-link></li>

                        </ul>
                    </div>
                    <ul class="pull-right social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                    <!--container-fluid-->
                </div>
                <!--navbar-->
            </nav>
            <!--row-->
        </div>
        <!--container-fluid-->
    </div>
    <!--header-->
</header>
</div>