
<div>
<div class="content-box support">
    <div class="container">
        <div class="call-us col-lg-8 col-md-8 col-sm-6 col-xs-12">
            <h3 class="white-text robotoslub-font">If you have any wood work
                <span class="light-font">Call Us our 24 hour Contact number.</span></h3>
            <!--call-us-->
        </div>
        <div class="phone col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <figure class="phone-icon pull-left text-center"><img src="/static/assets/images/phone.png" alt=""></figure>
            <div class="phone-numbers white-text pull-left semibold-font"><span class="regular-font">Contact phone</span>1.001.234.5678</div>
            <!--phone-->
        </div>
        <!--container-->
    </div>
    <!--content-box-->
</div>


<footer class="footer-con padding-top padding-bottom col-xs-12">
    <div class="container">
        <aside class="copyright col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="logo"><a href="/"><img src="static/assets/images/logo.png" alt=""></a></div>
            <p class="white-text">© 2017, WoodArt. All rights reserved</p>
            <div class="social-icons2">
                <ul class="text-center">
                    <li><a class="fa fa-facebook" href="#"></a></li>
                    <li><a class="fa fa-twitter" href="#"></a></li>
                    <li><a class="fa fa-google-plus" href="#"></a></li>
                </ul>
            </div>
            <!--copyright-->
        </aside>
        <aside class="sitemap col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <h3 class="regular-font robotoslub-font">Navigation</h3>
            <ul>
                <li><a href="/"> Home</a></li>
                <li><a href="../About">About Us</a></li>
                <li><a href="../Services">Services</a></li>
                <li><a href="../Gallery">Gallery</a></li>
                <li><a href="../Contact">Contact</a></li>
            </ul>
            <!--sitemap-->
        </aside>
        <aside class="sitemap col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <h3 class="regular-font robotoslub-font">Services</h3>
            <ul>
                <li><a href="../Services">Wooden Furniture</a></li>
                <li><a href="../Services">Decks & Porches</a></li>
                <li><a href="../Services">Home Renovations</a></li>
                <li><a href="../Services">Stairs & Rails</a></li>
                <li><a href="../Services">Windows & Shutters</a></li>
                <li><a href="../Services">Doors and Doorsteps</a></li>
            </ul>
            <!--sitemap-->
        </aside>
        <aside class="contact-info col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <h3 class="regular-font robotoslub-font">Contact Info</h3>
            <ul>
                <li><i class="fa fa-map"></i> 121 King Street,<br>
                    Melbourne Victoria 3000<br>
                    Australia.</li>
                <li><i class="fa fa-volume-control-phone"></i> Phone: (123) 123-456789<br>
                    Help: (123) 123-456789</li>
                <li><i class="fa fa-envelope"></i> <a href="mailto:info@woodart.com">info@woodart.com</a></li>
            </ul>
            <!--contact-info-->
        </aside>
        <!--container-->
    </div>
    <!--footer-con-->
</footer>
</div>